<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action = "{% url 'create' %}">
        <table>
            <th>이름</th>
            <th>입금</th>
            <th>출금</th>
            <th>날짜</th>
            <tr>
                    <td><input type="text" name="name" value=""></div>
                    <td><input type="number" name="deposit" value=""></div>
                    <td><input type="number" name="withdraw" value=""></div>
                    <td><input type="datetime" name="input_date" value=""></div>
            </tr>
        </table>
        
        <div><input type="submit" value="Submit"></div>
    </form>

    <a href="{% url 'sums' %}">총계확인하기</a>
</body>
</html>